@font-face {
    font-family: "LexendExa";
    src:  url("LexendExa.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

body
{
    font-family: "LexendExa";
    font-weight: 400;
    font-style: normal;
}

button {
    font-family: inherit;
}
.trader {
    display: flex;
    margin-bottom: 30px;
}
/* .refresh-btn {
    margin-right: 10px;
    height: 30px;
} */

.trader-name {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.rendered-trader {
    padding-right: 20px;
    /* font-size: 15px; */
    font-weight: bold;
}

.week {
    display: flex;
    margin-top: 40px;
}

.day {
    width: 130px;
    min-height: 70px;
    border: 1px solid black;
}

.day-name {
    margin-top: 1px;
    margin-bottom: 2px;
    color: brown;
}

.trader-name {
    margin-top: 3px;
    margin-left: 2px;
    font-size: 15px;
}

.current-day {
    background-color: #ffcc99;
}